p{
	font-size:14px;
}
.s-line{
	display: inline;
}

.normal_btn{
	width:50px;height:20px;
	background-Color:#9cc5f8;border:1
}

.widthly{width:200px;height:400px;} 

.divcss5{width:390px;height:260px;
		 border:1px solid blue ;
		 background-color: grey;
		 color:blue;
		 font-size:2ex;font-weight:bold} 